@import url(light.css);

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
}

a:visited {
    color: var(--md-sys-color-on-surface);
}

.surface {
    background-color: var(--md-sys-color-surface);
    border-radius: 28px;
}

.button {
    font-family: 'Roboto', sans-serif;
    background: none;
    border: none;
    padding: 0px 24px;
    height: 40px;
    color: var(--md-sys-color-on-primary);
    background-color: var(--md-sys-color-primary);
    border-radius: 40px;
}

.button:hover {
    background-color: var(--md-sys-color-primary-darker);
}

.button:active {
    background-color: var(--md-sys-color-primary-darkest);
}

.text-box {
    width: 425px;
    max-width: 100%;
    height: 50px;
    background: none;
    border: 1px solid var(--md-sys-color-outline);
    border-radius: 4px;
    padding-left: 16px;
    color: var(--md-sys-color-on-surface);
}

.text-box:focus {
    border: 1px solid var(--md-sys-color-primary);
}

nav {
    z-index: 10;
    position: fixed;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-surface);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
    cursor: default;
    gap: 4px;
}

nav>a>button {
    background: none;
    border: none;
    padding: 0;
    height: 60px;
    width: 160px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-radius: 60px;
}

nav>a>button:hover {
    background-color: var(--md-sys-color-secondary-container);
}

nav>a>button:active {
    background-color: var(--md-sys-color-secondary-container-darker);
}

.logo {
    font-size: xx-large;
    margin: 0;
    padding: 10px;
    border-radius: 100%;
}

.logo:hover {
    background-color: var(--md-sys-color-surface-container);
}

.logo:active {
    background-color: var(--md-sys-color-surface-dim);
}

.nav-icon-button {
    margin: 0;
    padding: 12px;
    border-radius: 100%;
}

.nav-icon-button:hover {
    background-color: var(--md-sys-color-surface-container);
}

.nav-icon-button:active {
    background-color: var(--md-sys-color-surface-dim);
}

header {
    margin-bottom: 16px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url(../images/header_back.jpg);
    background-position: center;
    background-size: cover;
}

header>article {
    padding: 24px;
    margin: 16px;
    width: fit-content;
    justify-items: center;
    text-align: center;
}

header>article>h1 {
    font-size: 36px;
    margin: 0;
}

header>article>p {
    margin: 16px;
}

main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main>section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section-with-page-buttons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

main>section>h1 {
    margin: 0;
    margin-bottom: 16px;
    font-size: 32px;
}

.divider {
    width: 50%;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--md-sys-color-outline-variant);
    margin: 28px 0;
    padding: 0;
}

.page-button {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    border-radius: 100%;
}

.page-button:hover {
    background-color: var(--md-sys-color-secondary-container-darker);
}

.page-button:active {
    background-color: var(--md-sys-color-secondary-container-darkest);
}

.image-row {
    width: fit-content;
    padding: 16px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.image-button {
    margin: 0;
    width: 280px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: end;
    border-radius: 12px;
    background-image: url(../images/shoe_2.jpg);
    background-position: center;
    background-size: cover;
    transform: scale(1, 1);
    transition: transform .5s, box-shadow .5s, margin .5s;
}

.image-button>button {
    margin: 16px;
    background-color: var(--md-sys-color-secondary);
}

.image-button:hover {
    margin: 0 16px;
    transform: scale(1.1, 1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
}

.image-button:hover>button {
    background-color: var(--md-sys-color-secondary-darker);
}

.image-button:active>button {
    background-color: var(--md-sys-color-secondary-darkest);
}

.image-button:first-child {
    background-image: url(../images/shoe_1.jpg);
}

.image-button:last-child {
    background-image: url(../images/shoe_3.jpg);
}

.image-button>img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}

#about-us {
    width: fit-content;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#about-us>img {
    width: 310px;
    height: 290px;
    object-fit: cover;
    border-radius: 28px;
}

#about-us>article {
    max-width: 550px;
    max-height: 100%;
    min-height: 100%;
    padding: 24px;
    padding-bottom: 16px;
}

#about-us>article>p,
ul {
    margin: 0;
}

#about-us>article>p {
    margin-bottom: 16px;
}

.box-row {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    justify-items: center;
    gap: 16px;
}

.box:nth-child(even) {
    margin-top: 56px;
}

.box {
    width: 210px;
    height: 210px;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.box>span {
    font-size: 40px;
    padding: 10px;
    margin: 16px;
    background-color: var(--md-sys-color-secondary-container);
    border-radius: 16px;
}

.box>figcaption {
    text-align: center;
}

#catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.item {
    width: 290px;
    transform: scale(1, 1);
    transition: transform .5s, box-shadow .5s;
}

.item:hover {
    transform: scale(1.05, 1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .25);
}

.item > img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    border-radius: 28px 28px 0px 0px;
}

.item-panel {
    max-width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.item-panel > div {
    margin: 16px;  
    align-self: flex-start; 
}

.item-panel > div > p {
    margin: 0;
}

.item-panel > div > p:first-child {
    font-size: 20px;
}

.item-panel > button {
    padding: 0;
    margin: 16px;
    margin-left: auto;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-panel > button > span {
    font-size: 20px;
}

#reviews {
    margin: 16px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: start;
    gap: 28px;
}

#reviews > article {
    width: 393px;
    padding: 16px;
}

#reviews > article > p {
    margin: 16px;
}

#reviews > article > figure {
    display: flex;
    flex-flow: row;
    align-items: end;
    margin: -32px 0 0 -32px;
}

#reviews > article > figure > img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
}

#reviews > article > figure > figcaption {
    margin: 16px;
}

.add-review {
    display: flex;
    flex-flow: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    padding: 28px;
}

footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--md-sys-color-secondary-container);
    margin-top: 28px;
}

footer > section {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: top;
}

footer > h1 { 
    margin: 28px 0 0 0;
}

footer > section > ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
}

footer > section > ul > h3 {
    margin: 0;
    margin-bottom: 16px;
}